.blog-page {
  padding: 100px 10%;
  background: #0a0a0a;
  color: white;
}

.blog-header {
  text-align: center;
  margin-bottom: 60px;
}

.blog-header h1 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* THE CARD */
.blog-card {
  background: #111;
  border-bottom: 2px solid #222;
  transition: border-color 0.3s ease;
}

.blog-card:hover {
  border-color: #e62222;
}

.blog-img-container {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.blog-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.blog-card:hover img {
  transform: scale(1.1);
}

.category-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #e62222;
  padding: 5px 15px;
  font-weight: 900;
  font-size: 0.7rem;
  font-style: italic;
  z-index: 10;
}

.blog-info {
  padding: 25px;
}

.blog-info h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 900;
}